{% extends 'penguin/base.html' %}
{% block title %} Home {% endblock %}
{% block css %}
<style>
    .card {
        background-color: transparent;
    }

    .card-body {
        padding: 0.40rem;
    }

    .card-text {
        height: 50px;
    }

    .col-xs-4 {
        display: inline-block;

    }

    .container {
        padding: 5px;
    }



    .col-xs-4 img {
        max-width: 355px;
        height: 24rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: transparent;
        ;

    }

    .carousel-control-prev {
        left: -200px;
    }

    .carousel-control-next {
        right: -160px;
    }
</style>

{% endblock %}

{% block body %}
{% load static %}
<!-- slide product -->
<div class="container">
    {% for product in plst %}
    <h2 class="my-3">Featured {{product.0.category}}</h2>
    <div id="demo{{forloop.counter}}" class="carousel slide" data-ride="carousel">
        <div class="container carousel-inner">
            <div class="carousel-item active">
                {% for i in product|slice:"0:9" %}
                <div class="col-xs-4">
                    <div class="card" style="border:2px solid black; width: 18rem;">
                        <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">{{i.product_name}}</h5>
                            <p class="card-text">{{i.desc}}</p>
                            <a href="/view/{{i.id}}"><button id="p{{i.id}}"
                                    class="btn btn-secondary">Download</button></a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="carousel-item">
                {% endif %}

                {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <a href="/viewall/{{product.0.category}}" style="text-decoration: underline;">View all {{product.0.category}}</a>
    {% endfor %}

</div>
{% endblock %}