{% extends 'penguin/base.html' %}
{% block title %} Register {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container my-3">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group mt-116">
            <legend class="border-bottom mb-4">Sign up for Penguin</legend>
            {{ form|crispy }}
        </div>
        <div class="from-group"><button type="submit" class="btn btn-dark" style="border:3px solid black;">Sign
                Up</button>
        </div>

    </form>
</div>
{% endblock %}